USE [2526 MCXVIVA];
GO

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[2526MCXVIVAUPLOAD]
AS
BEGIN
    SET DATEFIRST 7; -- Ensure Sunday = 1, Monday = 2, etc.

    DECLARE @Today INT = DATEPART(WEEKDAY, GETDATE());
    DECLARE @TargetDate DATE;

    -- Determine last trading day (skip weekends)
    IF @Today = 2 -- Monday
        SET @TargetDate = DATEADD(DAY, -3, GETDATE()); -- Friday
    ELSE IF @Today = 1 -- Sunday
        SET @TargetDate = DATEADD(DAY, -2, GETDATE()); -- Friday
    ELSE
        SET @TargetDate = DATEADD(DAY, -1, GETDATE()); -- Default to yesterday

    DECLARE @FileName NVARCHAR(500);
    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @FileExists INT;
    DECLARE @LogMsg NVARCHAR(1000);

    -- Construct file path based on target date
    SET @FileName = 'E:\DATA\2025-2026\TRADEBOOK\MCX\Trade' + 
                    CONVERT(VARCHAR(8), @TargetDate, 112) + '.csv';

    -- Clean UPLOAD table
    DELETE FROM [dbo].[UPLOAD];

    -- Check if file exists
    EXEC xp_fileexist @FileName, @FileExists OUTPUT;

    IF @FileExists = 1
    BEGIN
        SET @Sql = 'BULK INSERT [dbo].[UPLOAD] FROM ''' + @FileName + ''' ' +
                   'WITH (FIELDTERMINATOR = '','', ROWTERMINATOR = ''\n'', FIRSTROW = 2);';

        BEGIN TRY
            EXEC sp_executesql @Sql;

            -- Insert into StoreData
            INSERT INTO [dbo].[StoreData] (
                [Server], [UserID], [MAINTradeID], [MAINOrderID], [OrderID], [ExchangeOrderNo],
                [ExchangeTradeID], [OrderTime], [ExchangeOrderTime], [ExchangeTradeTime], [Exchange],
                [SecurityID], [Symbol], [ExpiryDate], [SecurityType], [Side], [OrderType], [Quantity],
                [PendingQuantity], [Price], [StrikePrice], [ClientID], [ReferenceText], [CTCLId], 
                [MemberID], [StrategyID], [OptionType], [OpenClose], [ProductType], [ManagerID], 
                [Pancard], [TerminalInfo], [AlgoID], [AlgoCategory], [ParticipantID], [Multiplier]
            )
            SELECT * FROM [dbo].[UPLOAD];

            SET @LogMsg = 'Success';
            PRINT 'Data inserted from: ' + @FileName;
        END TRY
        BEGIN CATCH
            SET @LogMsg = ERROR_MESSAGE();
            PRINT 'Error inserting from file: ' + @FileName + ' - ' + @LogMsg;
        END CATCH
    END
    ELSE
    BEGIN
        RAISERROR('File not found: %s', 16, 1, @FileName); -- Marks job as failed
    END

    -- Optional logging
    INSERT INTO [dbo].[UploadLog] (FileDate, FileName, Status, Message)
    VALUES (
        @TargetDate,
        @FileName,
        CASE 
            WHEN @FileExists = 1 AND @LogMsg = 'Success' THEN 'Success'
            WHEN @FileExists = 1 THEN 'Error'
            ELSE 'Missing'
        END,
        ISNULL(@LogMsg, 'File not found')
    );
END
